In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Using only required columns

In [ ]:
use_cols=['State name','District name','Population',
          'Male','Female','Literate','Male_Literate','Female_Literate','Rural_Households',
         'Urban_Households','Households','Age_Group_0_29','Age_Group_30_49','Age_Group_50','Age not stated']
df=pd.read_csv('census_2011.csv',usecols=use_cols)

In [ ]:
#2 Renaming the columns

In [ ]:
new_cols={'State name':'State/UT', 'District name':'District','Male_Literate':'Literate_Male',
 'Female_Literate':'Literate_Female','Rural_Households ':' Households_Rural',
 'Urban_ Households':'Households_Urban','Age_Group_0_29':' Young_and_Adult',
 'Age_Group_30_49':'Middle_Aged','Age_Group_50':'Senior_Citizen',
 'Age not stated':'Age_Not_Stated'
}
df.rename(columns=new_cols,inplace=True)

In [ ]:
df

In [ ]:
#3.
df['State/UT']=df['State/UT'].apply(lambda x:x.title())

In [ ]:
df['State/UT'].replace(['Jammu And Kashmir','Andaman And Nicobar Islands'],['Jammu and Kashmir','Andaman and Nicobar Islands'],
                       inplace=True)

In [ ]:
df['State/UT']

In [ ]:
#4 
telenaga_districts=pd.read_csv('Telangana.txt',sep=' ',header=None)
telenaga_districts

In [ ]:
#Changing State name for the above districts
tg_district_list=telenaga_districts[0].tolist()
tg_district_list

In [ ]:
changing_locs=df[df['District'].isin(tg_district_list)].index
df.loc[changing_locs,'State/UT']='Telangana'

In [ ]:
df

In [ ]:
Laddakh_changing_districts=df[df['District'].isin(['Leh','Kargil'])].index
df.loc[Laddakh_changing_districts,'State/UT']='Laddakh'

In [ ]:
df

# Problem Statement 5: (Find and process Missing Data)
Find and store the percentage of data missing for each column.
Some data can be found and filled in by using information from other cells. Try to find the correct data by using information from other cells and filling it in. Find and store the percentage of data missing for each column.

Hint:
Population = Male + Female
Literate = Literate_Male + Literate_Female
Population  = Young_and_Adult+  Middle_Aged + Senior_Citizen + Age_Not_Stated
Households = Households_Rural + Households_Urban 

Create a visualization that compares the amount of missing data before and after the data-filling process was done.

In [ ]:
#Finding percentage of missing values
missing_value_pct={}
for i in  df.columns:
    missing_value_pct[i]=(df[i].isna().sum())/len(df[i])*100
missing_value_pct

In [ ]:
def find_missing_values_indices(x):
    return df[x.isna()].index

In [ ]:


#Filling missing values for Populations columns:
pop_null_ind=df[df['Population'].isna()].index
pop_null_ind

df.loc[pop_null_ind,'Population']=df.loc[pop_null_ind,'Male']+df.loc[pop_null_ind,"Female"]

#Filling missing values for Male
male_null_ind=find_missing_values_indices(df['Male'])
df.loc[male_null_ind,'Male']=df.loc[male_null_ind,'Population']-df.loc[male_null_ind,'Female']

##Filling missing values for Female
female_null_ind=find_missing_values_indices(df['Female'])
df.loc[female_null_ind,'Female']=df.loc[female_null_ind,'Population']-df.loc[female_null_ind,'Male']

In [ ]:
#Filling null values for literate 
lit_null_ind=find_missing_values_indices(df['Literate'])
df.loc[lit_null_ind,'Literate']=df.loc[lit_null_ind,'Literate_Male']+df.loc[lit_null_ind,'Literate_Female']

#Filling null values for Male Literate
lit_male_null_ind=find_missing_values_indices(df['Literate_Male'])
df.loc[lit_male_null_ind,'Literate_Male']=df.loc[lit_male_null_ind,'Literate']-df.loc[lit_male_null_ind,'Literate_Female']

#Filling null values for Female Literate
lit_female_null_ind=find_missing_values_indices(df['Literate_Female'])
df.loc[lit_female_null_ind,'Literate_Female']=df.loc[lit_female_null_ind,'Literate']-df.loc[lit_female_null_ind,'Literate_Male']

In [ ]:
#Filling missing values for Households
household_null_ind=find_missing_values_indices(df['Households'])
df.loc[household_null_ind,'Households']=df.loc[household_null_ind,'Rural_Households']+df.loc[household_null_ind,'Urban_Households']

#Filling missing values for Rural households
r_household_null_ind=find_missing_values_indices(df['Rural_Households'])
df.loc[r_household_null_ind,'Rural_Households']=df.loc[r_household_null_ind,'Households']-df.loc[r_household_null_ind,'Urban_Households']

#Filling missing values for Urban households
u_household_null_ind=find_missing_values_indices(df['Urban_Households'])
df.loc[u_household_null_ind,'Urban_Households']=df.loc[u_household_null_ind,'Households']-df.loc[u_household_null_ind,'Rural_Households']

In [ ]:
#Filling null values for population

pop_null_ind=find_missing_values_indices(df['Population'])


df.loc[pop_null_ind,'Population']=df.loc[pop_null_ind,' Young_and_Adult']+df.loc[pop_null_ind,"Middle_Aged"]+df.loc[pop_null_ind,'Senior_Citizen']
+df.loc[pop_null_ind,'Age_Not_Stated']

yad_null_ind=find_missing_values_indices(df[' Young_and_Adult'])
df.loc[yad_null_ind,' Young_and_Adult']=df.loc[yad_null_ind,'Population']-(df.loc[yad_null_ind,"Middle_Aged"]+df.loc[yad_null_ind,'Senior_Citizen']
+df.loc[yad_null_ind,'Age_Not_Stated'])


mid_null_ind=find_missing_values_indices(df['Middle_Aged'])
df.loc[mid_null_ind,'Middle_Aged']=df.loc[mid_null_ind,'Population']-(df.loc[mid_null_ind," Young_and_Adult"]+df.loc[mid_null_ind,'Senior_Citizen']
+df.loc[mid_null_ind,'Age_Not_Stated'])


not_null_ind=find_missing_values_indices(df['Age_Not_Stated'])
df.loc[not_null_ind,'Age_Not_Stated']=df.loc[not_null_ind,'Population']-(df.loc[not_null_ind," Young_and_Adult"]+df.loc[not_null_ind,'Senior_Citizen']
+df.loc[not_null_ind,'Middle_Aged'])


sen_null_ind=find_missing_values_indices(df['Senior_Citizen'])
df.loc[sen_null_ind,'Senior_Citizen']=df.loc[sen_null_ind,'Population']-(df.loc[sen_null_ind," Young_and_Adult"]+df.loc[sen_null_ind,'Middle_Aged']
+df.loc[sen_null_ind,'Age_Not_Stated'])

In [ ]:
missing_value_pct_new={}
for i in  df.columns:
    missing_value_pct_new[i]=(df[i].isna().sum())/len(df[i])*100
missing_value_pct_new

In [ ]:
for i in  df.columns:
    print(i,df[i].isna().sum())

In [ ]:
p=pd.DataFrame([missing_value_pct,missing_value_pct_new]).T
p.columns=['Before Filling','After filling']
p.plot.bar()

### 6 .Save the processed data to a CSV file named “census.csv” in the “Clean_Data” folder.

In [ ]:
df.to_csv('Clean_Data/cencus2.csv',index=False)

### 7. Problem Statement 7: (Process the relevant data)
From the housing data(Data/housing.csv) read the following columns which may be relevant to the requirement.
District Name
Rural/Urban
Total Number of households
Total Number of Livable
Total Number of Dilapidated
Latrine_premise

In the given data The total number of households, Total Number of Livable, Total Number of Dilapidated, Latrine_premise, etc. seem to be in percentage terms and not in absolute terms.
The total number of households in a district can be found in the census data. Take the information from the census data and find the absolute values for the Total Number of Dilapidated, and Latrine_premise for both rural and urban areas of each district.

Calculate the data and rename the column names and save it in a CSV file named “housing.csv” in the “Clean_Data” folder, such that it  has the following column names:
District
Households_Rural
Households_Rural_Livable
Households_Rural_Dilapidated
Households_Rural_Toilet_Premise
Households_Urban
Households_Urban_Livable
Households_Urban_Dilapidated
Households_Urban_Toilet_Premise

Report if any district data is in one file but not the other.

In [ ]:

usecols=['State Name','District Name','Rural/Urban','Total Number of households','Total Number of Livable','Total Number of Dilapidated','Latrine_premise']
housing=pd.read_csv('housing.csv',usecols=usecols)
housing.rename(columns={'State Name':'State/UT'},inplace=True)

In [ ]:
housing['State/UT']=housing['State/UT'].str.lower().str.replace('&','and')
housing

In [ ]:
housing['District Name']=housing['District Name'].str.lower()
housing

In [ ]:
#Renaming states of Telanagana and Laddakh states
tg=pd.read_csv('Telangana.txt',sep=' ',header=None)
telangana_districts=tg[0].str.lower().tolist()
changing_locs=housing[housing['District Name'].isin(telangana_districts)].index
housing.loc[changing_locs,'State/UT']='telangana'

laddakh_changing_locs=housing[housing['District Name'].isin(['leh','kargil'])].index
housing.loc[laddakh_changing_locs,'State/UT']='laddakh'

In [ ]:
cencus=pd.read_csv('Clean_Data/cencus2.csv')
cencus['State/UT']=cencus['State/UT'].str.lower()
cencus['District']=cencus['District'].str.lower()
cencus

In [ ]:
#Comparing state names from cencus and housing files
cencus_states=sorted(cencus['State/UT'].unique().tolist())
housing_states=sorted(housing['State/UT'].unique().tolist())
l=[]
for i in range(len(cencus_states)):
        if cencus_states[i]!=housing_states[i]:
            l.append((housing_states[i],cencus_states[i]))

In [ ]:
housing['State/UT'].replace(['odisha','puducherry'],['orissa','pondicherry'],inplace=True)

In [ ]:
#Districts present in cencus data but not in housing data 
districts_not_in_housing=[]
h_l=housing['District Name'].tolist()
for x in cencus['District']:
    if x not in h_l:
        districts_not_in_housing.append(x)
districts_not_in_housing

In [ ]:
#set(housing['District Name'].tolist())
housing['District Name'].replace(['dadra & nagar haveli','puducherry','north  & middle andaman','lahul & spiti'],
                                ['dadra and nagar haveli','pondicherry','north  and middle andaman','lahul and spiti'],
                               inplace=True)

In [ ]:
cencus

In [ ]:
housing

In [ ]:
housing_rural=housing[housing['Rural/Urban']=='Rural']
housing_urban=housing[housing['Rural/Urban']=='Urban']
housing_total=housing[housing['Rural/Urban']=='Total']

In [ ]:
merged_rural=cencus.merge(housing_rural,left_on=['State/UT','District'],right_on=['State/UT','District Name'],how='inner')
merged_rural

In [ ]:
merged_urban=cencus.merge(housing_urban,left_on=['State/UT','District'],right_on=['State/UT','District Name'],how='inner')
merged_urban

In [ ]:
merged_total=cencus.merge(housing_total,left_on=['State/UT','District'],right_on=['State/UT','District Name'],how='inner')
merged_total

In [ ]:
merged_rural.columns

In [ ]:
#Calculating absolute values for Rurals
merged_rural['Households_Rural']=merged_rural['Rural_Households']
merged_rural['Households_Rural_Livable']=merged_rural['Rural_Households']*merged_rural['Total Number of Livable']/100
merged_rural['Households_Rural_Dilapidated']=merged_rural['Rural_Households']*merged_rural['Total Number of Dilapidated']/100
merged_rural['Households_Rural_Toilet_Premise']=merged_rural['Rural_Households']*merged_rural['Latrine_premise']/100

In [ ]:
#Calculating absolute values for Urban
merged_urban['Households_Urban']=merged_urban['Urban_Households']
merged_urban['Households_Urban_Livable']=merged_urban['Urban_Households']*merged_urban['Total Number of Livable']/100
merged_urban['Households_Urban_Dilapidated']=merged_urban['Urban_Households']*merged_urban['Total Number of Dilapidated']/100
merged_urban['Households_Urban_Toilet_Premise']=merged_urban['Urban_Households']*merged_urban['Latrine_premise']/100

In [ ]:
#Calculating absolute values for total
merged_total['Households_total']=merged_total['Households']
merged_total['Households_total_Livable']=merged_total['Households']*merged_total['Total Number of Livable']/100
merged_total['Households_total_Dilapidated']=merged_total['Households']*merged_total['Total Number of Dilapidated']/100
merged_total['Households_total_Toilet_Premise']=merged_total['Households']*merged_total['Latrine_premise']/100

In [ ]:
merged_rural

In [ ]:
merged_urban

In [ ]:
final_merged=merged_rural.merge(merged_urban,on=['State/UT','District'],how='outer')
final_merged

In [ ]:
final_merged.rename(columns={'District_x':'District'},inplace=True)
final_merged

In [ ]:
final_merged.columns

In [ ]:
final_housing_df=final_merged[
    ['State/UT','District','Households_Rural','Households_Rural_Livable','Households_Rural_Dilapidated',
     'Households_Rural_Toilet_Premise',
     'Households_Urban','Households_Urban_Livable',
     'Households_Urban_Dilapidated',
     'Households_Urban_Toilet_Premise']
                              
]

In [ ]:
#final_housing_df.dropna(inplace=True)

In [ ]:
cols=[]
for i in final_housing_df.columns:
    if i[-1]=='x':
        cols.append(i[:-2])
    else:
        cols.append(i)

In [ ]:
final_housing_df.columns=cols

In [ ]:
final_housing_df.isna().sum()

In [ ]:
final_housing_df[final_housing_df['State/UT']=='andhra pradesh']

In [ ]:
final_housing_df.to_csv('Clean_Data/housing.csv',index=False)

### Problem Statement 8: (Visualise the housing data)
Visualize the following data for each state using appropriate methods:
Number of households for 100 people
Percentage of households that have toilet(s) in premise to the total number of households.
Urban to rural population ratio.

In [ ]:
merged_total.columns

In [ ]:
merged_total.groupby(by='State/UT').sum()

In [275]:
grouped_data

,Households,Population,Households_total_Toilet_Premise,Household_pct,Household_toilet_pct
State/UT,,,,,
andaman and nicobar islands,141675.0,380581.0,9.929093e+04,37.225978,70.083595
andhra pradesh,14212527.0,49386799.0,6.844201e+06,28.777988,48.156115
arunachal pradesh,351765.0,1383727.0,2.225652e+05,25.421561,63.270980
assam,9074503.0,31205576.0,5.864566e+06,29.079748,64.626854
bihar,23414674.0,104099452.0,5.383555e+06,22.492601,22.992227
chandigarh,298367.0,1055450.0,2.613695e+05,28.269174,87.600000
chhattisgarh,5982534.0,25545198.0,1.499825e+06,23.419407,25.070054
dadra and nagar haveli,108783.0,343709.0,5.950430e+04,31.649739,54.700000
daman and diu,89929.0,243247.0,6.965290e+04,36.970240,77.453209
goa,576582.0,1458545.0,4.595544e+05,39.531314,79.703212
gujarat,17524030.0,60439692.0,1.017704e+07,28.994241,58.074761
haryana,7088008.0,25351462.0,4.859210e+06,27.958971,68.555371
himachal pradesh,2933663.0,6864602.0,2.034855e+06,42.736097,69.362278
jammu and kashmir,3555488.0,12400500.0,1.801642e+06,28.672134,50.672141
jharkhand,7796033.0,32988134.0,1.751368e+06,23.632840,22.464867
karnataka,17999066.0,59248274.0,9.348038e+06,30.379055,51.936241
kerala,11217853.0,33406061.0,1.068204e+07,33.580293,95.223529
laddakh,48144.0,140802.0,4.665154e+04,34.192696,96.900000
lakshadweep,21242.0,64473.0,2.077468e+04,32.947125,97.800000
madhya pradesh,18498763.0,72626809.0,5.395847e+06,25.470984,29.168690
maharashtra,33569762.0,112374333.0,1.817086e+07,29.873158,54.128665
manipur,609964.0,2855794.0,5.399847e+05,21.358824,88.527300
meghalaya,721467.0,2966889.0,4.539121e+05,24.317290,62.915157
mizoram,269431.0,1097206.0,2.480111e+05,24.556100,92.049934
nagaland,534424.0,1978502.0,4.112370e+05,27.011547,76.949576
nct of delhi,4605555.0,16787941.0,4.117498e+06,27.433710,89.402873
orissa,12759133.0,41974218.0,2.833773e+06,30.397548,22.209759
pondicherry,387999.0,1247953.0,2.659298e+05,31.090834,68.538781
punjab,7847447.0,27743338.0,6.217713e+06,28.285879,79.232298
rajasthan,17461829.0,68548437.0,6.327165e+06,25.473708,36.234265
sikkim,169022.0,610577.0,1.473323e+05,27.682340,87.167515
tamil nadu,23166721.0,72147030.0,1.113129e+07,32.110429,48.048600
telangana,10078599.0,35193978.0,5.309190e+06,28.637283,52.677862
tripura,1066863.0,3673917.0,9.180137e+05,29.038843,86.047942
uttar pradesh,45172443.0,199812341.0,1.618520e+07,22.607434,35.829811
uttarakhand,3383410.0,10086292.0,2.182130e+06,33.544637,64.494980
west bengal,25343715.0,91276115.0,1.498594e+07,27.765988,59.130807

In [ ]:
grouped_data=merged_total.groupby(by='State/UT').agg({'Households':'sum','Population':'sum','Households_total_Toilet_Premise':'sum'})
grouped_data['Household_pct']=grouped_data['Households']/grouped_data['Population']*100
grouped_data['Household_toilet_pct']=grouped_data['Households_total_Toilet_Premise']/grouped_data['Households']*100
#grouped_data['Household_pct'].plot.bar(figsize=(20,20))
plt.figure(figsize=(20,20))
plt.title('Statewise percentage of Households',fontsize=15)
sns.barplot(data=grouped_data,x=grouped_data.index,y=grouped_data['Household_pct'])
plt.xlabel('STATE/UT',fontsize=15)
plt.ylabel('Percentage of Households',fontsize=15)
plt.xticks(rotation=90,fontsize=14)
plt.show()

In [ ]:
plt.figure(figsize=(20,20))
plt.title('Statewise percentage of Households having toilets',fontsize=15)
sns.barplot(data=grouped_data,x=grouped_data.index,y=grouped_data['Household_toilet_pct'])
plt.xlabel('STATE/UT',fontsize=15)
plt.ylabel('Percentage of Households having toilets',fontsize=15)
plt.xticks(rotation=90,fontsize=14)
plt.show()

### Problem Statement 9: (Inconsistency in different datasets)
After the updates, the “Households_Rural” and “Households_Urban” data are redundant in both housing and census data. Compare the two data and see if there is a major difference between the values in the two files. A difference of more than 10% can be considered a major difference. Report the names of the districts where a major difference is found in the data.

In [ ]:
final_housing_df.sort_values(by=['State/UT','District'],inplace=True)
final_housing_df

In [ ]:
sorted_cencus=cencus.groupby(by=['State/UT','District']).sum()
sorted_cencus

In [ ]:
sorted_housing=final_housing_df.groupby(by=['State/UT','District']).sum()
sorted_housing

In [ ]:
household_rural_diff=((abs(sorted_housing['Households_Rural']-sorted_cencus['Rural_Households']))/sorted_cencus['Rural_Households'])*100
ind=household_rural_diff[household_rural_diff>10].index

#Districts with % difference greater than 10
ind

### Problem Statement 9: (Inconsistency in different datasets)
After the updates, the “Households_Rural” and “Households_Urban” data are redundant in both housing and census data. Compare the two data and see if there is a major difference between the values in the two files. A difference of more than 10% can be considered a major difference. Report the names of the districts where a major difference is found in the data.

In [ ]:
household_rural_diff=((abs(sorted_housing['Households_Rural']-sorted_cencus['Rural_Households']))/sorted_cencus['Rural_Households'])*100
ind=household_rural_diff[household_rural_diff>10].index
ind

### Problem Statement 10: (Fix the header)
Import the hospital data from Data/hospitals.csv and make the necessary changes to the header (Do not change the original file).
The header uses acronyms that are defined in metadata.csv. Find the data and rename the headers so that it is more understandable to users who are not familiar with the acronyms. The First cell in the header is missing which should be renamed to State/UT. Rename the other headers in a uniform format.

In [ ]:
hospitals=pd.read_csv('hospitals.csv')
hospitals

In [ ]:
hospitals.columns=['State/UT','Number of Primary Health Centers(PHCs)','Community Health Centers(CHCs)',
                  'Sub-District/Divisional Hospitals(SDHs)','District Hospitals(DHs)','Hospitals','HospitalBeds']

In [ ]:
hospitals

### Problem Statement 11: (Create a function to alter the data to create uniformity)
The State/UT names have some different formats compared to other census and housing data. Manually identify those differences and fix them so that the State/UT names match exactly with the census and housing data. 
A function should be created to perform this operation. Since the same operation is required for another dataset as well. 
After the process save the data in a CSV file named “all_hospitals.csv” in the “Clean_Data” folder

In [ ]:
housing=pd.read_csv('Clean_Data/housing.csv')

In [ ]:
cencus=pd.read_csv('Clean_Data/cencus2.csv')
cencus

In [ ]:
#Function to uniform states/ut names 
def make_uniform(hospitals):
    
    #Making all the states and ut in capitals
    cencus['State/UT']=cencus['State/UT'].str.lower()
    c=cencus['State/UT'].replace(['laddakh'],['jammu and kashmir'])
    housing['State/UT']=housing['State/UT'].str.lower()
    h=housing['State/UT'].replace(['laddakh'],['jammu and kashmir'])
    hospitals['State/UT']=hospitals['State/UT'].str.lower().str.replace('*','')
    cencus_states=sorted(c.unique().tolist())
    
    housing_states=sorted(h.unique().tolist())
    hospital_states=sorted(hospitals['State/UT'].unique().tolist())
    #Checking for the number of states of in each of the datasets
    print(len(cencus_states),len(housing_states),len(hospital_states))
    states_with_diff_names=[]
    for i in range(1,len(cencus_states)):
        if cencus_states[i-1]!=housing_states[i-1] or cencus_states[i-1]!=hospital_states[i] or housing_states[i-1]!=hospital_states[i]:
            c,hou,hos=cencus_states[i],housing_states[i],hospital_states[i]
            states_with_diff_names.append((c,hou,hos))
    print(states_with_diff_names)
    hospitals['State/UT']=hospitals['State/UT'].str.replace('&','and')
    hospitals['State/UT']=hospitals['State/UT'].replace(['odisha','puducherry','delhi'],['orissa','pondicherry','nct of delhi'])
    return hospitals['State/UT']

In [ ]:
hospitals

In [ ]:
hospitals['State/UT']=make_uniform(hospitals)

In [ ]:
hospitals_filled_with_na=hospitals.fillna(0)
hospitals_filled_with_na

In [ ]:
hospitals.to_csv('Clean_Data/all_hospitals.csv',index=False)

### Problem Statement 12: (Analyze Healthcare facility disparity)
Visually represent how many hospital beds are there for every 10,000 people in each state or union territory. The national value should also be represented in the same visualization such that the value for each state can be compared to it.  
Hint:


Report three States/UTs which have the least amount of beds for their population so that more beds can be added to the hospitals in respective states.

In [ ]:
cencus_without_laddakh=cencus.replace(['laddakh'],['jammu and kashmir'])
cencus_without_laddakh=cencus_without_laddakh.groupby(by=['State/UT']).sum()
hospital_cencus_merged=cencus_without_laddakh.merge(hospitals_filled_with_na,on=['State/UT'],how='right')

In [ ]:
grouped=hospital_cencus_merged.groupby(by=['State/UT']).sum()

cencus_without_laddakh

In [ ]:
#grouped=hospital_cencus_merged

In [ ]:
grouped.loc['all india','Population']=grouped.iloc[1:,0].sum()
grouped.loc['all india','Population']

In [ ]:
beds_per_10000=(grouped['HospitalBeds']/grouped['Population'])*10000

In [ ]:
beds_per_10000.sort_values(inplace=True)
beds_per_10000

In [ ]:
plt.figure(figsize=(20,20))
sns.set_style('darkgrid')
plt.title('State wise beds per 10000 people',fontdict={'fontsize':20,'color':'red','fontweight':5})
plt.bar(beds_per_10000.index.values,beds_per_10000[:],color='b')
plt.xlabel('States',fontdict={'fontsize':20,'color':'blue','fontweight':5})
plt.ylabel('Beds',fontdict={'fontsize':20,'color':'red','fontweight':5})
plt.axhline(y=beds_per_10000['all india'], color= 'red', linewidth=2)
plt.xticks(rotation=90,fontsize=15)
plt.yticks(fontsize=15)
plt.show()

The states/UT  with lower beds are Bihar,Jharkhand,Uttar Pradesh

 ### Problem Statement 13: (Multi-line header)
The header in (Data/government_hospitals.csv) is in 2 rows 



The headers are required to be edited for ease of future use as well as for the sake of uniformity. 

Import and update the data in a way that it has the following column names
State/UT
Rural_Government_Hospitals
Rural_Government_Beds
Urban_Government_Hospitals
Urban_Government_Beds
Last_Updated

In [ ]:
govt_hospitals=pd.read_csv('government_hospitals.csv')
govt_hospitals.replace('INDIA','all india',inplace=True)

In [ ]:
govt_hospitals.columns=['State/UT','Rural_Government_Hospitals','Rural_Government_Beds',
                        'Urban_Government_Hospitals','Urban_Government_Beds','Last_Updated']

In [ ]:
govt_hospitals.drop(index=0,inplace=True)

In [ ]:
make_uniform(govt_hospitals)

In [ ]:
govt_hospitals

In [ ]:
govt_hospitals['Last_Updated']=pd.to_datetime(govt_hospitals['Last_Updated'],infer_datetime_format=True)

In [ ]:
govt_hospitals.to_csv('Clean_Data/government_hospital.csv',index=False)

### Problem Statement 15 : (Government healthcare facility disparity)
Since the resources are limited, it is required to identify the region which lacks the healthcare facility the most for creating new government hospitals.
An idea was suggested* that first the three States/UTs which have the least amount of beds (in all hospitals government and private) for their population is identified. Among those three the state which has the least number of government hospitals can be recommended for setting up a new government hospital.

From problem 12, we have found that Bihar,Jharkhand,Uttar Pradesh are the 3 states having least number of beds with
their population. Now among these 3 states,let's find the state having the least number of govt. hospitals

In [ ]:
govt_hospitals.set_index('State/UT',inplace=True)

In [ ]:
govt_hospitals

In [ ]:
total_govt_hospitals=govt_hospitals['Rural_Government_Hospitals'].astype('int')+govt_hospitals['Urban_Government_Hospitals'].astype('int')

In [ ]:
total_govt_hospitals[['bihar','jharkhand','uttar pradesh']].sort_values()

Jharkhand has less number of govt hospitals in the state, so  Jharkhand can be recommended for setting up a new government hospital.

###                                          World Health Organization Standards
According to WHO standards, a minimum of 3 beds per 1000 people is required. Monica wants to analyse whether different regions in India as well as the nation as a whole are up to that standard. If not, how many facilities are required to fill the gap?

### Problem Statement 16: (Gap in number of beds)
Visually represent the difference between the expected number of hospital beds and the available number of hospital beds in each State/UT, as well as at the national level (if any).

In [ ]:
hospitals

In [ ]:
state_wise_actual_beds=hospitals[['State/UT','HospitalBeds']]
#state_wise_actual_beds.set_index('State/UT',inplace=True)

In [ ]:
state_wise_actual_beds.sort_values(by=['State/UT'],inplace=True)

In [ ]:
state_wise_actual_beds['HospitalBeds']

In [ ]:
expected_number_of_beds=3*grouped['Population']/1000

In [ ]:
expected_number_of_beds[:]

In [ ]:
plt.figure(figsize=(20,20))
sns.set_style('white')
plt.title("State wise Actual and Expected number of bed",fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.bar(state_wise_actual_beds['State/UT'],state_wise_actual_beds['HospitalBeds'],color='g')
plt.bar(state_wise_actual_beds['State/UT'],expected_number_of_beds[:],bottom=state_wise_actual_beds['HospitalBeds'],color='r')
plt.xlabel('States',fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.ylabel('No.of beds',fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.xticks(rotation=90,fontweight='bold',fontsize=15)
plt.yticks(fontsize=15)
plt.legend(['Actual','Expected'],loc='upper right')
plt.show()

### Problem Statement 17: (Hospitals required to meet the standards)
In a hypothetical situation if the government wishes to fill the gap between the available facility and the WHO standards all by itself how many government hospitals may be required in each state or union territory as well as at the national level?
Find the average number of beds in a government hospital. Divide it by the gap in the number of beds to reach the standards in the region, and round the number to the nearest integer to find the value.
Represent the findings visually

In [ ]:
state_wise_actual_beds2=hospitals[['State/UT','HospitalBeds']]

In [ ]:
state_wise_actual_beds2.set_index('State/UT',inplace=True)

In [ ]:
state_wise_actual_beds2.sort_index(inplace=True)

In [ ]:
state_wise_actual_beds2=state_wise_actual_beds2.squeeze()

In [ ]:
expected_number_of_beds2=3*grouped['Population']/1000
expected_number_of_beds2

In [ ]:
difference=pd.Series(expected_number_of_beds2-state_wise_actual_beds2)

In [ ]:
difference

In [ ]:
govt_hospitals

In [ ]:
avg_beds_per_hospital=(govt_hospitals['Rural_Government_Beds'].astype(int) + govt_hospitals['Urban_Government_Beds'].astype(int))/(govt_hospitals['Rural_Government_Hospitals'].astype(int)+govt_hospitals['Urban_Government_Hospitals'].astype(int))

In [ ]:
avg_beds_per_hospital

In [ ]:
ratio=round(difference/avg_beds_per_hospital)
ratio

In [ ]:
plt.figure(figsize=(20,15))
plt.title("Gaps/ Average number of beds",fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.bar(ratio.index,ratio[:],color='g')
plt.xlabel('States',fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.ylabel('Ratio',fontdict={'fontsize':20,'fontweight':5,'color':'b'})
plt.xticks(rotation=90,fontweight='bold',fontsize=15)
plt.yticks(fontsize=15)
#plt.legend(['Actual','Expected'],loc='upper right')
plt.show()

### Connecting with Database

The department of Healthcare wants to access all the clean data to be accessed over the internet through its official website. They have sent a requirement to upload all the data that has been cleaned to a database.
You have been given the responsibility to address their requirement.

Problem Statement 18: (Database connection and data upload)
All the files in the clean folder are required to be uploaded to a relational database. The table names should be the same as the file names without the extension.
The primary key and foreign key constraints should be included in the tables wherever required.

In [ ]:
pwd

In [ ]:
import mysql.connector as ms
import sqlalchemy as sq
from sqlalchemy import create_engine, MetaData,Table, Column, Numeric, Integer, VARCHAR,String,Date,text
from sqlalchemy.engine import result

In [ ]:
cencus=pd.read_csv('Clean_Data/cencus.csv')

In [ ]:
cencus['State/UT']=cencus['State/UT'].replace('Laddakh','Jammu and Kashmir').str.lower()

In [ ]:
cencus['District']=cencus['District'].str.lower()

In [ ]:
cencus

In [ ]:
cencus.to_csv('Clean_Data/cencus.csv',index=False)

In [ ]:
housing=pd.read_csv('Clean_Data/housing.csv')

In [ ]:
housing

In [ ]:
housing['State/UT']=housing['State/UT'].replace('laddakh','jammu and kashmir')

In [ ]:
housing.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
housing.to_csv('Clean_Data/housing.csv',index=False)

In [ ]:
con=sq.create_engine('mysql+pymysql://root:Zs123786students2@localhost:3306/project', pool_size=50, max_overflow=0)

In [ ]:
cencus.columns=[data.replace(" ","") for data in cencus.columns]

In [ ]:
# Creating Cencus table
meta=MetaData(bind=con)
MetaData.reflect(meta)
cencus_tb=Table(
    'cencus', meta,
    Column('State/UT', String(30), primary_key=True),
    Column('District', String(30), primary_key=True),
    Column('Population', Numeric),
    Column('Male', Numeric),
    Column('Female',Numeric),
    Column('Literate',Numeric),
    Column('Literate_Male',Numeric),
    Column('Literate_Female',Numeric),
    Column('Rural_Households',Numeric),
    Column('Urban_Households',Numeric),
    Column('Households',Numeric),
    Column('Young_and_Adult',Numeric),
    Column('Middle_Aged',Numeric),
    Column('Senior_Citizen',Numeric),
    Column('Age_Not_Stated',Numeric),
    extend_existing=True
)
meta.create_all(con)

# Don't run this cell--Caution

In [ ]:
cencus.to_sql('cencus',con,if_exists='append',index=False)

In [ ]:
housing.head(3).columns

In [ ]:
housing.rename(columns={'Households_Urban.1':'Households_Urban_Livable'},inplace=True)

In [ ]:
housing_tb=Table(
    'housing', meta,
    Column('Rid',Integer,autoincrement=True,primary_key=True),
    Column('State/UT', VARCHAR(30)),
    Column('District', VARCHAR(30)),
    Column('Households_Rural', Numeric),
    Column('Households_Rural_Livable', Numeric),
    Column('Households_Rural_Dilapidated',Numeric),
    Column('Households_Rural_Toilet_Premise',Numeric),
    Column('Households_Urban',Numeric),
    Column('Households_Urban_Livable',Numeric),
    Column('Households_Urban_Dilapidated',Numeric),
    Column('Households_Urban_Toilet_Premise',Numeric),
    extend_existing=True
)
meta.create_all(con)

In [ ]:
#adding foreign key columns 
fk=text("ALTER TABLE housing ADD CONSTRAINT FK_ST_UT FOREIGN KEY ( `State/UT`,District) REFERENCES cencus(`State/UT`,District)")
con.execute(fk)

# Don't run this cell--Caution

In [ ]:
housing.to_sql('housing',con,if_exists='append',index=False)

In [ ]:
# hospitals=pd.read_csv('Clean_Data/all_hospitals.csv')
# hospitals

In [ ]:
hospitals_tb=Table(
    'all_hospitals', meta,
    Column('State/UT', VARCHAR(30),primary_key=True),
    Column('Number of Primary Health Centers(PHCs)', Numeric),
    Column('Community Health Centers(CHCs)', Numeric),
    Column('Sub-District/Divisional Hospitals(SDHs)',Numeric),
    Column('District Hospitals(DHs)',Numeric),
    Column('Hospitals',Numeric),
    Column('HospitalBeds',Numeric),
    extend_existing=True
)
meta.create_all(con)

# Don't run this cell--Caution

In [ ]:
hospitals.to_sql('all_hospitals',con,if_exists='append',index=False)

In [ ]:
government_hospitals=pd.read_csv('Clean_Data/government_hospital.csv')

In [ ]:
govt_hosp_tb=Table(
    'government_hospitals', meta,
    Column('Rid',Integer,autoincrement=True,primary_key=True),
    Column('State/UT', VARCHAR(30)),
    Column('Rural_Government_Hospitals', Numeric),
    Column('Rural_Government_Beds', Numeric),
    Column('Urban_Government_Hospitals',Numeric),
    Column('Urban_Government_Beds',Numeric),
    Column('Last_Updated',Date),
    extend_existing=True
)
meta.create_all(con)

# Caution-Don't run this cell

In [ ]:
#Adding foreign Key column for all_govt_hospitals
fk=text("ALTER TABLE government_hospitals  ADD CONSTRAINT FK_ST_UT2 FOREIGN KEY (`State/UT`) REFERENCES all_hospitals(`State/UT`) ")
con.execute(fk)

# Caution-Don't run this cell

In [ ]:
government_hospitals.to_sql('government_hospitals',con,if_exists='append',index=False)
government_hospitals

### Problem Statement 19: (Verify upload)
Verification is a necessary process to be followed after uploading the data.
Join all the tables using the respective primary key- foreign key pair and show the top 3 rows. 
Verify whether the result is as expected or not. If not, then identify and fix the issue.

In [ ]:
cencus_tb=pd.read_sql_table('cencus',con)
housing_tb=pd.read_sql_table('housing',con)
hospitals_tb=pd.read_sql_table('all_hospitals',con)
govt_hosp_tb=pd.read_sql_table('government_hospitals',con)

In [ ]:
cencus_tb.merge(housing_tb,left_on=['State/UT','District'],right_on=['State/UT','District'],how='inner').head(3)

In [ ]:
hospitals_tb.merge(govt_hosp_tb,on='State/UT',how='inner').head(3)

### Problem Statement 20: (Run Query on the database and use in python)
Write a query that finds the number of households without a toilet on the premise for each district of the state that has the least hospital bed-to-population ratio. 
Display the information using python.

In [ ]:
con.execute(text("""

create table households_without_toilets
with pop as
(
select `State/UT`,
        sum(Population) as State_Population
from cencus 
group by `State/UT`
),
cte2 as(
select h.`State/UT`,
h.HospitalBeds,
p.State_Population,
    (h.HospitalBeds/p.State_Population) as beds_per_population
from pop p 
inner join all_hospitals h 
on p.`State/UT`=h.`State/UT` 
),
st_min_beds_per_pop as
(
select `State/UT`,beds_per_population from cte2  
        where  beds_per_population=(select min(beds_per_population) from cte2)
)
select hh.`State/UT`,hh.District,
(hh.Households_Rural +hh.Households_Urban)-(hh.Households_Rural_Toilet_Premise +hh.Households_Urban_Toilet_Premise) as households_without_toilet
from housing hh where  `State/UT` in (select `State/UT` from  st_min_beds_per_pop) order by households_without_toilet desc;

"""))

In [ ]:
pd.read_sql_table('households_without_toilets',con)



### Problem 21

In [ ]:
# Creating get_population_district procedure
con.execute(
text("""
CREATE  PROCEDURE `get_population_district`(IN dist varchar(30),OUT pop decimal)
    DETERMINISTIC
begin 
select Population into pop  from cencus where District=dist;
end;
"""))

In [ ]:
## Creating get_population procedure
con.execute(text("""
CREATE  PROCEDURE `get_population_district`(IN dist varchar(30),OUT pop decimal)
    DETERMINISTIC
begin 
select Population into pop  from cencus where District=dist;
end;

"""))

In [ ]:
## Creating senior_citizen_population procedure
con.execute(text("""
CREATE  PROCEDURE `senior_citizen_population`(IN state varchar(30),OUT pop decimal)
    DETERMINISTIC
begin 
select sum(Senior_Citizen) into pop  from cencus where `State/UT`=state  group by State ;
end;
"""))

In [ ]:
## Creating get_govt_hospital_beds procedure
con.execute(text("""
CREATE  PROCEDURE `get_govt_hospital_beds`(IN state varchar(30),OUT gbeds decimal)
    DETERMINISTIC
begin 
select (Rural_Government_Beds+Urban_Government_Beds) into gbeds  from government_hospitals where `State/UT`=state ;
end;
"""))

In [ ]:
## Creating govt_beds_per_lakh procedure
con.execute(text("""
CREATE  PROCEDURE `govt_beds_per_lakh`(IN state varchar(30),OUT gbeds_pl decimal)
    DETERMINISTIC
begin 
call get_population(state,@pop);
call get_govt_hospital_beds(state,@gbeds);
select (@gbeds/@pop) * 100000 into gbeds_pl;
end;
"""))

In [ ]:
## Creating beds_per_lakh
con.execute(text("""
CREATE  PROCEDURE `beds_per_lakh`(IN state varchar(30),OUT beds_pl decimal)
    DETERMINISTIC
begin 
call get_population(state,@pop);
call get_hospital_beds(state,@beds);
select (@beds/@pop) * 100000 into beds_pl;
end;
"""))

In [ ]:
### Creating get_hospital_beds procedure

con.execute(text("""
CREATE  PROCEDURE `get_hospital_beds`(IN state varchar(30),OUT beds decimal)
    DETERMINISTIC
begin 
select HospitalBeds into beds  from all_hospitals where `State/UT`=state ;
end;
"""))

### Problem Statement 22: 
It was reported* that in the north-eastern states, senior citizens are facing some issues in getting beds in a government hospital. Amir, from the department of healthcare, has requested a report on the healthcare situation in the north-eastern states.

The north-eastern states are listed in (Data/north_east_states.txt). Read the file and extract the state names using python and write a query to find the following information about those states from the database. Use the stored functions created earlier wherever relevant.
State Name
Population
Senior Citizen Population
Number of Government Hospital
Number of Government Hospital Beds
Number of Government Hospital beds for 1 Lakh population 
(Round the number to the nearest integer)
Number of Government Hospital beds for 1 Lakh senior citizen
(Round the number to the nearest integer)

The rows should be sorted by the number of Government Hospital beds for 1 Lakh senior citizens in ascending order.

In [ ]:
#There is no north_east_states.txt file in the dataset provided
north_east_states=['arunachal pradesh','assam','manipur','meghalaya','mizoram','nagaland','tripura','sikkim']

In [ ]:
def call_stored_procedures(state):
    l=[]
    l.append(state)
    con.execute('call get_population(%s,@pop)',state)
    pop=con.execute('SELECT @pop').fetchone()[0]
    l.append(int(pop))
    con.execute('call senior_citizen_population(%s,@sp)',state)
    sp=con.execute('select @sp').fetchone()[0]
    l.append(int(sp))
    gh=con.execute('select Rural_Government_Hospitals+Urban_Government_Hospitals from government_hospitals where `State/UT`=%s',state).fetchone()[0]
    l.append(int(gh))
    con.execute('call get_govt_hospital_beds(%s,@ghb)',state)
    ghb=con.execute('select @ghb').fetchone()[0]
    l.append(int(ghb))
    con.execute('call govt_beds_per_lakh(%s,@ghbl)',state)
    ghbl=con.execute('select @ghbl').fetchone()[0]
    l.append(int(ghbl))
    con.execute('call senior_citizen_population(%s,@sp)',state)
    sp=con.execute('select @sp').fetchone()[0]
    ghbls=round(int(ghb)/int(sp)*100000)
    l.append(ghbls)
    return l

In [ ]:
total_data=[]
for state in north_east_states:
    data=call_stored_procedures(state)
    total_data.append(data)
    
    
    #df['Government Hospital beds for 1L senior citizen']=data[6]

In [ ]:
total_data

In [ ]:
df=pd.DataFrame(total_data,columns=['State','Population','Senior Citizen Population','Government Hospitals',
                        'Government Hospital Beds','Government Hospital beds for 1L population',
                         'Government Hospital beds for 1L senior citizen'])

In [ ]:
df

In [ ]:
gh=con.execute('select Rural_Government_Hospitals+Urban_Government_Hospitals from government_hospitals where `State/UT`="telangana"')
int(gh.fetchone()[0])

In [ ]:
con.execute('call senior_citizen_population(%s,@sp)','arunachal pradesh')
sp=con.execute('select @sp').fetchone()
print(int(sp[0]))

### Problem Statement 23: 
The Government wants to run a scheme that would help people build in-premise toilets. 
For that purpose, a secretary has requested a district-wise report using the census data.

Using a stored procedure, Create a district-wise report that shows the total population of each district, the total number of households in the district, the number of households that do NOT have on-premise toilets, and the percentage of the number of households that do NOT toilets in premise to the total number of households. Sort the data in a way that is most useful for the secretary.

In [ ]:
con.execute(text("""
CREATE  PROCEDURE district_wise_report()
begin
 select c.District,
 c.population,
coalesce(c.Rural_Households,0)+coalesce(c.Urban_Households,0) as households,
coalesce(c.Rural_Households,0)+coalesce(c.Urban_Households,0)-
coalesce(h.Households_Rural_Toilet_Premise,0)-coalesce(h.Households_Urban_Toilet_Premise,0) as households_without_toilet,
 ((coalesce(c.Rural_Households,0)+coalesce(c.Urban_Households,0)
 -coalesce(h.Households_Rural_Toilet_Premise,0) -coalesce(h.Households_Urban_Toilet_Premise,0))/(coalesce(c.Rural_Households,0)+coalesce(c.Urban_Households,0)))*100
 as pct_households_without_toilets
 from cencus c 
 inner join housing h
 on c.`State/UT`=h.`State/UT` and  c.District=h.District
 order by pct_households_without_toilets desc;
 end;

"""))

In [ ]:
dist_rep=con.execute('call district_wise_report()')
results=dist_rep.fetchall()

In [ ]:
df_dist_rep=pd.DataFrame(results)
df_dist_rep[df_dist_rep["District"]=='adilabad']

### Problem Statement 24: 
An Agency wants to find out if there is a relationship between dilapidated homes and the lack of households for the people. 
Using a stored procedure, create a report that shows the name of each district, its population, the number of liveable houses per 1000 people, and the number of dilapidated households per 1000 people. 
Visualize the relation between these values using an appropriate plot.

In [ ]:
con.execute(text(
"""
CREATE PROCEDURE liveable_dilapidated()
begin
select 
c.District,
c.Population,
round(((coalesce(h.Households_Rural_Livable,"Unknown")+coalesce(h.Households_Urban_Livable,"Unknown"))/c.Population)*1000)  as Liveable_houses_per_1000_ppl,
round(((coalesce(h.Households_Rural_Dilapidated,"Unknown")+coalesce(h.Households_Urban_Dilapidated,"Unknown"))/c.Population)*1000) as Dilapidated_houses_per_1000_ppl
from cencus c
inner join housing h
on c.`State/UT`=h.`State/UT` and c.District=h.District
order by Dilapidated_houses_per_1000_ppl desc,Liveable_houses_per_1000_ppl;
end;

"""
))

In [ ]:
dil_liv=con.execute('call liveable_dilapidated()')
results=dil_liv.fetchall()

In [ ]:
df_dil_liv=pd.DataFrame(results)
df_dil_liv

In [ ]:
plt.figure(figsize=(10,15))
sns.lineplot(x="Liveable_houses_per_1000_ppl", y="Dilapidated_houses_per_1000_ppl", data=df_dil_liv)
plt.title("Liveable Vs Dilapidated Houses",fontdict={'fontsize':20,'color':'r','weight':'bold'})
plt.xlabel("Liveable_houses_per_1000_ppl",fontdict={'fontsize':15,'color':'b','weight':'bold'})
plt.ylabel("Dilapidated_houses_per_1000_ppl",fontdict={'fontsize':15,'color':'b','weight':'bold'})
plt.legend()
plt.show()

###  Problem Statement 25: 
The rural development department has requested a report on the healthcare situation in rural areas as compared to urban areas.
Write a query to find the number of hospital beds and government hospital beds per 1 lakh people for rural and urban areas separately for each state, along with the difference between them.

In [ ]:
statement=text("""
with pop as
(select `State/UT`, sum(Population) as pop from cencus group by `State/UT`)
select p.`State/UT`,
round((a.HospitalBeds/p.pop)*100000) as Hospital_beds_per_1L_ppl,
round((g.Rural_Government_Beds/p.pop)*100000) as Rural_govt_hospital_beds_per_1L_ppl,
round((g.Urban_Government_Beds/p.pop)*100000)as Urban_govt_hospital_beds_per_1L_ppl,
abs(round((g.Urban_Government_Beds/p.pop)*100000-(g.Rural_Government_Beds/p.pop)*100000)) as Urban_Rural_govt_beds_diff
from pop p 
inner join all_hospitals a on p.`State/UT`=a.`State/UT` 
inner join government_hospitals g on p.`State/UT`=g.`State/UT`
order by Urban_Rural_govt_beds_diff """)

In [ ]:
rur_urb_diff=con.execute(statement)
results=rur_urb_diff.fetchall()

In [ ]:
df_rur_urb_diff=pd.DataFrame(results)
df_rur_urb_diff

### Problem Statement 26: 
New hospitals are under construction* in different locations, and once they are constructed the data in the database is to be updated. Also, when some hospitals non-operational hospital might be removed. Since the data is quite significant there should be a hospital_log table that would store any changes made to the hospital or government_hospital table.
The hospital_log table should contain the name of the district, whether the hospital is situated in urban or rural area, whether the hospital is being added or being removed, date of adding or removing the hospital to/from the existing facilities, and whether it is government hospital or not. The a row in the table must be added automatically whenever a new hospital is added, or an existing hospital is removed.

In [ ]:
con.execute(text(
"""
CREATE TABLE hospital_log(
  State_UT varchar(30),
  urban_rural enum('rural','urban'),
  added_removed enum('added','removed'),
  action_date date,
  govermnet_private enum('government','private'));
"""
))

In [ ]:
con.execute(text("""
CREATE TRIGGER update_government_hospital_trigger
AFTER update ON government_hospitals
FOR EACH ROW
BEGIN
declare rural_urban varchar(30);
declare added_removed varchar(30);
IF  new.Rural_Government_Hospitals-old. Rural_Government_Hospitals > 0 THEN
set rural_urban='rural';
set added_removed='Added';
ELSE
set rural_urban='rural';
set added_removed='Removed';
END IF;
IF  new.Urban_Government_Hospitals-old.Urban_Government_Hospitals > 0 THEN
set rural_urban='urban';
set added_removed='Added';
ELSE
set rural_urban='urban';
set added_removed='Removed';
END IF;
    
INSERT INTO hospital_log (State_UT, urban_rural, added_removed, action_date, government_private)
VALUES (OLD.`State/UT`, rural_urban,added_removed, CURDATE(), 'governmet');
END;
"""))

### Problem Statement 27:
New hospital beds are to be added in different government and private hospitals in different locations, and some non-operational hospital beds might be removed from hospitals. Since the data is quite significant there should be a hospital_bed_log table that would store any changes made to the hospital or government_hospital table with respect to number of hospital beds.
The hospital_bed_log table should contain the name of the district, whether the hospital is situated in urban or rural area, date of adding or removing hospital beds, the number of beds being added or removed, whether it is being added or removed and whether it is added to/removed from government hospital or not. The table must be updated automatically whenever new hospital beds are added to or removed from the existing facility.

In [ ]:
con.execute(text(
"""
CREATE TABLE hospital_bed_log(
State_UT varchar(30),
rural_urban varchar(30),
added_removed varchar(30),
action_date date,
no_of_beds int,
government_private varchar(30)
) 

"""))

In [ ]:
con.execute(text(
"""
CREATE TRIGGER update_goverment_hospital_beds_trigger
AFTER update ON government_hospitals
FOR EACH ROW
BEGIN
declare urban_rural varchar(30);
declare added_removed varchar(30);
declare no_of_beds int;
if new.Rural_Government_Beds -old.Rural_Government_Beds >0 then
set added_removed='added';
set no_of_beds=new.Rural_Government_Beds -old.Rural_Government_Beds;
set urban_rural='rural';
else
set added_removed='removed';
set no_of_beds=old.Rural_Government_Beds -new.Rural_Government_Beds;
set urban_rural='rural';
end if;
if new.Urban_Government_Beds -old.Urban_Government_Beds >0 then
set added_removed='added';
set no_of_beds=new.Urban_Government_Beds -new.Urban_Government_Beds;
set urban_rural='urban';
else
set added_removed='removed';
set no_of_beds=old.Urban_Government_Beds -new.Urban_Government_Beds;
set urban_rural='urban';
end if;
INSERT INTO hospital_bed_log (State_UT, urban_rural, added_removed, action_date,no_of_beds, government_private)
VALUES (OLD.`State/UT`, urban_rural, added_removed, CURDATE(),no_of_beds,'goverment');
END;
""" ))